*.biprivatekey
*.cache
*.pbo
*.sqfc
*.swo
*.swp
*.zip
.hemttout
.vscode/*
/.hemttout
@*
ArmaScriptCompiler.exe
CHANGELOG.md
Thumbs.db
hemtt
hemtt.exe
release/*
releases/*
sqfvm.exe
target/
texHeaders.bin
tools/temp
